# CONTROLLED BY ANSIBLE
adm
bin
chrony
daemon
dbus
halt
libstoragemgmt
lp
mail
nfsnobody
nobody
nscd
nslcd
ntp
operator
pht
polkitd
postfix
root
rootpw
rpc
rpcuser
shutdown
sshd
sssd
sync
systemd-bus-proxy
systemd-network
tcpdump
tss
unbound
